[submodule "rrtstar-renderer"]
	path = rrtstar-renderer
	url = https://github.com/ripl-ttic/rrtstar-renderer
[submodule "obstacle-detector-renderer"]
	path = obstacle-detector-renderer
	url = https://github.com/ripl-ttic/obstacle-detector-renderer
[submodule "velodyne-renderer"]
	path = velodyne-renderer
	url = https://github.com/ripl-ttic/velodyne-renderer
[submodule "robot-status-renderer"]
	path = robot-status-renderer
	url = https://github.com/ripl-ttic/robot-status-renderer
[submodule "visualization/localizer-renderer"]
	path = localizer-renderer
	url = git@github.com:ripl-ttic/localizer-renderer.git
[submodule "gridmap-renderer"]
	path = gridmap-renderer
	url = https://github.com/ripl-ttic/gridmap-renderer
[submodule "robot-wavefront-renderer"]
	path = robot-wavefront-renderer
	url = git@github.com:ripl-ttic/robot-wavefront-renderer.git
[submodule "host-status-renderer"]
	path = host-status-renderer
	url = git@github.com:ripl-ttic/host-status-renderer.git
